<div class="task_form">
    <form id="new-task-form  middle-align">
        <div class="input_field">
            <input type="text" name="title" class=""/>
            <label for="title">Title</label>
        </div>
        <div class="input_field">
            <input type="text" name="description"/>
            <label for="description">Reminder Text</label>
        </div>
        <label>
            Completed
            <input type="checkbox" />
            <span class="lever"></span>
            Not Complete
        </label>
        <br/>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
