/* html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.middle-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, .centered-top-down {
    display: flex;
    align-items: flex-start;
    justify-content: center;
} */
